config.stopbubbling = true

lombok.copyableannotations += org.springframework.beans.factory.annotation.Value
lombok.copyableannotations += org.springframework.beans.factory.annotation.Qualifier
lombok.anyconstructor.addconstructorproperties = true
lombok.nonnull.exceptiontype = IllrgalArgumentException
lombok.anyconstructor.addconstructorproperties = false
